@{
    ViewData["Title"] = "Transaction Overview";
}

<div class="row">
    <div class="col-md-10 offset-md-1">
        <div class="card shadow-sm border-0 rounded-3">
            <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
                <h4 class="mb-0">
                    <i class="fas fa-chart-bar icon-info"></i> Transactions Overview
                </h4>
                <input type="date" id="filterDate" class="form-control w-auto" />
            </div>
            <div class="card-body">
                <div id="transactionTable"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/overview.js" asp-append-version="true"></script>
}
